header{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	border-bottom: 2px solid #C0C0C0;
	background-color: #000000;
	margin: 0;
	padding: 0;
	z-index: 99;
}

.navbar {
	background-color: #000000;
	margin-bottom: 0;
}

.navbar-brand {
	font-family: 'Source Sans Pro', sans-serif;
	color: #006A4E;
	padding-top: 20px;
	padding-bottom: 3px;
	margin: 0;
	font-size: 25px;
}

.dropdown-toggle{
	background-color: #000000;
	margin-top: 5px;
	padding: 0;
	font-size: 25px;
	color: #006A4E;
}

.dropdown-menu .dropdown-menu-right,
.navbar-nav>li>.dropdown-menu {
	background-color: #000000;
	padding-bottom: 0px;
	color: #C0C0C0;
}

body{
	background-color: #006A4E;
}

.pageheight{
	min-height: 300px;
}

@media only screen and (min-width:992px){
	.pageheight{
		min-height: 700px;
	}
}

#welcome{
	background-image: url("/images/backgroundmain.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
h1{
	text-align: center;
	font-size: 60px;
	color: #C0C0C0;
	border: 2px solid #C0C0C0;
	padding: 10px 20px 10px 20px;
	margin-top: 250px;
}

#portfolio{
	background-image: url("/images/backgroundportfolio.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

h2{
	font-size: 40px;
	text-align: center;
	color: #006A4E;
}

.caption{
	color: #000000;
}

h3{
	font-size: 25px;
	color: #000000;
}
.thumbnail{
	background-color: rgba(0, 106, 78, 0.7);
	margin-top: 75px;
	padding: 15px 10px 0px 10px;
	border: 4px solid #000000;
}

h4{
	font-size: 40px;
	text-align: center;
	color: #000000;
	margin-top: 30px;
}
.resumeabout{
	background-color: #000000;
	border: 3px dashed #C0C0C0;
	padding: 215px 20px 215px 20px;
	margin-top: 45px;
}

.resumeholder{
	color: #C0C0C0;
	font-size: 50px;
	text-align: center;
}