header{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	border-bottom: 2px solid #C0C0C0;
	background-color: #000000;
	margin: 0;
	padding: 0;
	z-index: 99;
}

.navbar {
	background-color: #000000;
}

.navbar-brand {
	font-family: 'Source Sans Pro', sans-serif;
	color: #C0C0C0;
	padding-top: 25px;
	padding-bottom: 3px;
	margin: 0;
	font-size: 40px;
}

.dropdown-toggle{
	background-color: #006A4E;
	color: #C0C0C0;
}

.dropdown-menudropdown-menu-right{
	background-color: #C0C0C0;
}

body{
	background-color: #006A4E;
}

.pageheight{
	min-height: 300px;
}

@media only screen and (min-width:992px){
	.pageheight{
		min-height: 700px;
	}
}

.launchpage{

}

h2{
	text-align: center;
	font-size: 60px;
	color: #C0C0C0;
	border: 2px solid #C0C0C0;
	padding: 10px 20px 10px 20px;
	margin-top: 250px;
}

h3{
	color: #C0C0C0;
	font-size: 25px;
}

.screenshotdescript{
	color: #C0C0C0;
	margin-top: 50px;
}

.resumeabout{
	border: 3px dashed #000000;
	padding: 215px 20px 215px 20px;
}

.resumeholder{
	color: #C0C0C0;
	font-size: 50px;
	text-align: center;
}